﻿@using System.Web.Mvc;
@using System.Web.Mvc.Html;
@using System.Linq.Expressions;


@functions
{
    private static void AddDisplayAttributes<TModel, TProperty>(Expression<Func<TModel, TProperty>> expression, Dictionary<string, object> editorHtmlAttributes)
    {
        var exp = (MemberExpression)expression.Body;
        foreach (Attribute attribute in exp.Expression.Type.GetProperty(exp.Member.Name).GetCustomAttributes(false))
        {
            if (typeof(System.ComponentModel.DataAnnotations.DisplayAttribute) == attribute.GetType())
            {
                editorHtmlAttributes["placeholder"] = ((System.ComponentModel.DataAnnotations.DisplayAttribute)attribute).GetPrompt();
            }
            else if (typeof(System.ComponentModel.DataAnnotations.EditableAttribute) == attribute.GetType())
            {
                if (!((System.ComponentModel.DataAnnotations.EditableAttribute)attribute).AllowEdit)
                {
                    editorHtmlAttributes["readonly"] = "readonly";
                }
            }
        }
    }

    public static HelperResult TextAreaFor<TModel, TProperty>(WebViewPage<TModel> view, Expression<Func<TModel, TProperty>> expression)
    {
        var editorHtmlAttributes = new Dictionary<string, object>();
        editorHtmlAttributes["class"] = @"form-control no-resize auto-growth";

        AddDisplayAttributes(expression, editorHtmlAttributes);

        return CreateTextAreaFor(
        new MvcHtmlString(
      ((view.ViewData.ModelState[ExpressionHelper.GetExpressionText(expression)]?.Errors?.Any()).GetValueOrDefault() ? "error" : string.Empty)),
        view.Html.LabelFor(expression, htmlAttributes: new { @class = "form-label" }),
        view.Html.TextAreaFor(expression, editorHtmlAttributes),
        view.Html.ValidationMessageFor(expression, "", new { @class = "error" }, "label"));
    }

    public static HelperResult DropdownListFor<TModel, TProperty>(WebViewPage<TModel> view, Expression<Func<TModel, TProperty>> expression, SelectList list)
    {
        var editorHtmlAttributes = new Dictionary<string, object>();
        editorHtmlAttributes["class"] = @"form-control";
        editorHtmlAttributes["data-live-search"] = "true";
        editorHtmlAttributes["data-none-selected-text"] = "No hay elementos";

        return CreateDropdownListFor(
            view.Html.LabelFor(expression, htmlAttributes: new { @class = "form-label" }),
            view.Html.DropDownListFor(expression, list, "Seleccione una opcion:", htmlAttributes: editorHtmlAttributes),
            view.Html.ValidationMessageFor(expression, "", new { @class = "error" }, "label")
        );
    }

    public static HelperResult CheckBoxFor<TModel, TProperty>(WebViewPage<TModel> view, Expression<Func<TModel, TProperty>> expression, bool isChecked)
    {
        return CreateCheckBoxFor(
            view.Html.LabelFor(expression, htmlAttributes: new { @class = "form-label" }),
            ExpressionHelper.GetExpressionText(expression),
            isChecked
            );
    }
}

@helper CreateTextBoxFor(MvcHtmlString hasError, MvcHtmlString label, MvcHtmlString textbox, MvcHtmlString validation)
{
    @label
    <div class="form-group">
        <div class="form-line @hasError">
            @textbox
        </div>
        @validation
    </div>

}

@helper MonthDateTimePickerFor(MvcHtmlString hasError, MvcHtmlString label, MvcHtmlString textbox, MvcHtmlString validation)
{
    @label
    <div class="form-group">
        <div class="form-line @hasError">
            @textbox
        </div>
        @validation
    </div>

}

@helper CreateTextAreaFor(MvcHtmlString hasError, MvcHtmlString label, MvcHtmlString textArea, MvcHtmlString validation)
{
    /**/
    @label
    <div class="form-group">
        <div class="form-line @hasError">
            @textArea
        </div>
        @validation
    </div>
}

@helper CreateDropdownListFor(MvcHtmlString label, MvcHtmlString dropdownlist, MvcHtmlString validation)
{
    /**/
    @label
    <div class="form-group">
        @dropdownlist
        @validation
    </div>
}

@helper CreateCheckBoxFor(MvcHtmlString label, string id, bool isChecked)
{
    /**/
    @label
    <div class="form-group">
        <input type="checkbox" name="@id" value="true" id="@id" @(isChecked ? @"checked=""checked""" : "") />
        <label for="@id"> </label>
    </div>
}

@helper CreateDisplayFor(MvcHtmlString hasError, MvcHtmlString label, MvcHtmlString display, MvcHtmlString validation)
{
    /**/
    @label
    <div class="form-group">
        <div class="form-line @hasError">
            @display
        </div>
        @validation
    </div>

}