﻿@model IEnumerable<GSC.Models.ListaDocumentacionViewModel>
@{
    int contar = 0;
}
<div class="main-panel">
    <div class="content-wrapper">
        <div class="page-header">
            <h3 class="page-title"> Documentacion </h3>
            @Html.ActionLink("Crear", "Create", null, new { @class = "btn btn-gradient-primary mr-2" })
        </div>
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th> # </th>
                                <th> Mombre </th>
                                <th> Tipo </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                contar++;

                                <tr>
                                    <td> @contar </td>
                                    <td> @Html.DisplayFor(model => item.Nombre) </td>
                                    <td> @Html.DisplayFor(model => item.Tipo) </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>