﻿@model IEnumerable<BaseDeDatos.ProveedoresFolder.ProveedoresViewModel>
@{
    int contar = 0;
}
<div class="main-panel">
    <div class="content-wrapper">
        <div class="page-header">
        </div>
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Proveedores</h4>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th> # </th>
                                <th> Mombre </th>
                                <th> Email </th>
                                <th> Telefono </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                contar++;

                                <tr>
                                    <td> @contar </td>
                                    <td> @Html.DisplayFor(model => item.Nombre) </td>
                                    <td> @Html.DisplayFor(model => item.Email) </td>
                                    <td> @Html.DisplayFor(model => item.Telefono) </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>