﻿@model GSC.Models.Tikets.CrearTiketsViewModel

<div class="main-panel">
    <div class="content-wrapper">
        <div class="container-scroller">
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Crear Ticket</h4>
                        <br />
                        @using (Html.BeginForm("CrearTiket", "Tikets", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <form class="forms-sample">
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <label for="exampleInputName1">Name</label>
                            @Html.EditorFor(model => model.Usuario, new { htmlAttributes = new { @class = "form-control", @type = "text", @placeholder = "Name" } })
                        </div>
                        <div class="form-group">
                            @InputHelpers.DropdownListFor(this, model => model.IdPreoridad, Model.listaPrioridad)
                        </div>
                        <div class="form-group">
                            <label for="exampleInputName1">Email</label>
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @type = "text", @placeholder = "Email" } })
                        </div>
                        <div class="form-group">
                            <label for="exampleInputName1">Telefono</label>
                            @Html.EditorFor(model => model.Telefono, new { htmlAttributes = new { @class = "form-control", @type = "number", @placeholder = "Telefono" } })
                        </div>
                        <div class="form-group">
                            <label for="exampleInputName1">Asunto</label>
                            @Html.EditorFor(model => model.Problema, new { htmlAttributes = new { @class = "form-control", @type = "text", @placeholder = "Asunto" } })
                        </div>
                        <div class="form-group">
                            <label for="exampleTextarea1">Descripcion del problema</label>
                            @Html.TextAreaFor(model => model.Descripcion, new { @class = "form-control", @rows = "15" })
                        </div>
                        <input type="submit" value="Crear" class="btn btn-gradient-primary mr-2">
                    </form>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*<div class="col-md-6 col-sm-6 col-xs-6">
        @InputHelpers.DropdownListFor(this, model => model.CategoriaId, Model.CategoriaList)
    </div>*@

