﻿@model IEnumerable<GSC.Models.Tikets.CrearTiketsViewModel>
@{
    int contar = 0;
}
<div class="main-panel">
    <div class="content-wrapper">
        <div class="page-header">
        </div>
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Tickets Pendientes</h4>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th> # </th>
                                <th> Usuario </th>
                                <th> Email </th>
                                <th> Titulo Problema </th>
                                <th> Prioridad </th>
                                <th> Fecha Entreha </th>
                                <th> Estado de tiket </th>
                                <th>Actiones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                contar++;

                                <tr>
                                    <td> @contar </td>
                                    <td> @Html.DisplayFor(model => item.Usuario) </td>
                                    <td> @Html.DisplayFor(model => item.Email) </td>
                                    <td> @Html.DisplayFor(model => item.Problema) </td>
                                    <td> @Html.DisplayFor(model => item.PrioridadNombre) </td>
                                    <td> @Html.DisplayFor(model => item.Fecha_Entrega) </td>
                                    <td> @Html.DisplayFor(model => item.EstadoNombre) </td>
                                    <td>
                                        <a href="@Url.Action("EstadoTiket", new { id = item.ID}) " class="btn btn-primary"><i class="material-icons">Detalle</i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>