﻿@model GSC.Models.Tikets.CrearTiketsViewModel

<div class="main-panel">
    <div class="content-wrapper">
        <div class="container-scroller">
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Ticket</h4>
                        <br />
                        @using (Html.BeginForm("EstadoTiket", "Tikets", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <form class="forms-sample">
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.ID)
                        <div class="form-group">
                            <label for="exampleInputName1">Name</label>
                            @Html.EditorFor(model => model.Usuario, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled", @type = "text", @placeholder = "Name" } })
                        </div>
                        <div class="form-group">
                            <label for="exampleInputName1">Email</label>
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled", @type = "text", @placeholder = "Email" } })
                        </div>
                        <div class="form-group">
                            <label for="exampleInputName1">Telefono</label>
                            @Html.EditorFor(model => model.Telefono, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled", @type = "number", @placeholder = "Telefono" } })
                        </div>
                        <div class="form-group">
                            <label for="exampleInputName1">Asunto</label>
                            @Html.EditorFor(model => model.Problema, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled", @type = "text", @placeholder = "Asunto" } })
                        </div>
                        <div class="form-group">
                            <label for="exampleTextarea1">Descripcion del problema</label>
                            @Html.TextAreaFor(model => model.Descripcion, new { @class = "form-control", @disabled = "disabled", @rows = "15" })
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 col-form-label">Fecha de Creacion</label>
                            @Html.EditorFor(model => model.Fecha_Creacion, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled", @type = "text", @placeholder = "" } })
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 col-form-label">Fecha de entrega</label>
                            @Html.EditorFor(model => model.Fecha_Entrega, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled", @type = "text", @placeholder = "" } })
                        </div>
                        <label for="exampleInputName1">Notas</label>   <p>----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
                        @foreach (var item in Model.Notas)
                        {
                            <div class="form-group">
                                <label for="exampleInputName1">Titulo de nota</label>
                                @Html.EditorFor(model => item.Nombre, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled", @type = "text", @placeholder = "Nombre" } })
                            </div>
                            <div class="form-group">
                                <label for="exampleTextarea1">Descripcion de la nota</label>
                                @Html.TextAreaFor(model => item.Descripcion, new { @class = "form-control", @disabled = "disabled", @rows = "10" })
                            </div>
                        }

                        <label for="exampleInputName1">Agregar nota</label>                        <p>----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
                        <div class="form-group">
                            <label for="exampleInputName1">Titulo de nota</label>
                            @Html.EditorFor(model => model.NombreNota, new { htmlAttributes = new { @class = "form-control", @type = "text", @placeholder = "Nombre" } })
                        </div>
                        <div class="form-group">
                            <label for="exampleTextarea1">Descripcion de la nota</label>
                            @Html.TextAreaFor(model => model.DescripcionNota, new { @class = "form-control", @rows = "10" })
                        </div>

                        <input type="submit" value="Guardar Nota" class="btn btn-gradient-primary mr-2">
                    </form>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

