﻿<div class="main-panel">
    <div class="content-wrapper">

        <div class="page-header">
            <h3 class="page-title"> Tikets </h3>
        </div>
        <div class="row">
            <div class="col-md-4 stretch-card grid-margin">
                @Html.ActionLink("Gestionar Ticket", "Gestionar", null, new { @class = "btn btn-gradient-primary btn-fw card bg-gradient-info card-img-holder text-white" })
            </div>
            <div class="col-md-4 stretch-card grid-margin">
                @Html.ActionLink("Crear Ticket", "CrearTiket", null, new { @class = "btn btn-gradient-primary btn-fw card bg-gradient-info card-img-holder text-white" })
            </div>
            <div class="col-md-4 stretch-card grid-margin">
                @Html.ActionLink("Resolver Tickets", "ResolverTikets", null, new { @class = "btn btn-gradient-primary btn-fw card bg-gradient-info card-img-holder text-white" })
            </div>
            <div class="col-md-4 stretch-card grid-margin">
                @Html.ActionLink("Ver estado de Tickets", "EstadoTiketsTable", null, new { @class = "btn btn-gradient-primary btn-fw card bg-gradient-info card-img-holder text-white" })
            </div>
        </div>
    </div>
</div>